mixin question()
  +b.SECTION.question(id="question")
    +e.inner
      h2 Вам нужно решить один из этих вопросов?
      +e.UL.row
        li
          div
            img(src="img/icon-gear.svg")
          span Ведение бухгалтерского учета
        li
          div
            img(src="img/icon-clock.svg")
          span Восстановление бухгалтерского учета
        li
          div
            img(src="img/icon-calc.svg")
          span Постановка бухгалтерского учета
        li
          div
            img(src="img/icon-people.svg")
          span Ведение кадрового делопроизводства
        li
          div
            img(src="img/icon-docs.svg")
          span Восстановление кадровой документации
        li
          div
            img(src="img/icon-purse.svg")
          span Расчет заработной платы
        li
          div
            img(src="img/icon-search.svg")
          span Экспресс-аудит
        li
          div
            img(src="img/icon-basket.svg")
          span Ликвидация организаций
        li
          div
            img(src="img/icon-list.svg")
          span Регистрация бизнеса