mixin reviews()
  +b.SECTION.reviews(id="reviews" style="background-image: url(../img/review-bg.jpg)")
    +e.inner
      h2 Отзывы клиентов
      +e.row
        +e.col(id="slick-gallery")
          +b.review
            +e.visual
              +e.photo-box
                img(src="img/review-one.jpg")
              a(href="https://vk.com/tatyana.simonenko" class="social-link")
            +e.text
              p
                span(class="review-name") Татьяна Симоненко
                span(class="review-position") Ген. директор, ООО «Прайм Трейд»
              blockquote По результатам трехлетнего сотрудничества с Априори могу утверждать, что основными приоритетами этой компании являются клиентоориентированность, профессионализм и комплексный подход. Специалисты компании обладают самыми актуальными данными в области российского законодательства, способны проконсультировать по сложным вопросам и дать необходимые рекомендаци. Всем компаниям , находящимся на этапе приятия решения о переходе на систему аутсорсинга бухгалтерских услуг, согу с уверенностью порекомендовать Априори.
          +b.review
            +e.visual
              +e.photo-box
                img(src="img/review.jpg")
              a(href="https://vk.com/tatyana.simonenko" class="social-link")
            +e.text
              p
                span(class="review-name") Лив Тайлер
                span(class="review-position") Актриса, Hollywood
              blockquote По результатам трехлетнего сотрудничества с Априори могу утверждать, что основными приоритетами этой компании являются клиентоориентированность, профессионализм и комплексный подход. Специалисты компании обладают самыми актуальными данными в области российского законодательства, способны проконсультировать по сложным вопросам и дать необходимые рекомендаци. Всем компаниям , находящимся на этапе приятия решения о переходе на систему аутсорсинга бухгалтерских услуг, согу с уверенностью порекомендовать Априори.
          +b.review
            +e.visual
              +e.photo-box
                img(src="img/review.jpg")
              a(href="https://vk.com/tatyana.simonenko" class="social-link")
            +e.text
              p
                span(class="review-name") Крупницкая Наталия
                span(class="review-position") Ген. директор, ООО «Прайм Трейд»
              blockquote По результатам трехлетнего сотрудничества с Априори могу утверждать, что основными приоритетами этой компании являются клиентоориентированность, профессионализм и комплексный подход. Специалисты компании обладают самыми актуальными данными в области российского законодательства, способны проконсультировать по сложным вопросам и дать необходимые рекомендаци. Всем компаниям , находящимся на этапе приятия решения о переходе на систему аутсорсинга бухгалтерских услуг, согу с уверенностью порекомендовать Априори.