mixin how-work()
  +b.SECTION.how-work(id="how-work")
    +e.inner
      +e.row
        +e.text
          h2 Как это работает?
          ul
            li
              span 1
              strong Консультация 
              p Все начинается просто - с телефонного звонка или лично встречи у нас или у Вас в офисе. Вы смотрите как мы работаем, а мы смотрим как работаете Вы.
            li
              span 2
              strong Определение целей 
              p Пара проводок в месяц, а может быть зарплатный проект на 15 человек и оборот более 10 млн. в месяц? Мы подберм тариф, который подходит именно Вам и расскажем о схеме нашей работы.
            li
              span 3
              strong Импорт бухгалтерии 
              p Или ведение новой. После подписания договора в 80% случаев нужно собрать всю бухгалтерскую информацию, которя у вас есть и перенести к нам в систему. Иногда это требует времени, если бухгалтерия находится в совсем печальном состоянии.
            li
              span 4
              strong Ведение учета 
              p Мы занимаемся бухгалтерским и налоговым учетом, сдаем отчеты в налоговую, и оптимизируем налоговую базу. В общем, делаем все, чтобы Вы могли заниматься своим делом. 
            li
              span 5
              strong Анализ
              p В любой момент Вы можете получить структурированный отчет по Вашей бухгалтери. А если вдруг решите нанять штатного бухгалтера, мы сделаем все, чтобы Ваша отчетность переехала с комфортом.
        +e.visual
          div(class="visual-item")
            div(class="photo-box")
              img(src="img/how-work1.jpg")
          div(class="visual-item")
            div(class="photo-box")
              img(src="img/how-work2.jpg")