mixin nav()
  +b.NAV.nav&attributes(attributes)
    +e.UL
      +e.LI
        +e.A(href="#how-work") Как это работает?
      +e.LI
        +e.A(href="#guarantees") Гарантии
      +e.LI
        +e.A(href="#price") Тарифы
      +e.LI
        +e.A(href="#reviews") Отзывы
      +e.LI
        +e.A(href="#contacts") Контакты