mixin nav()
  +b.NAV.nav&attributes(attributes)
    +e.UL
      +e.LI
        +e.A(href="#") Как это работает?
      +e.LI
        +e.A(href="#") Гарантии
      +e.LI
        +e.A(href="#") Тарифы
      +e.LI
        +e.A(href="#") Отзывы
      +e.LI
        +e.A(href="#") Контакты