
include ../../blocks/promo/promo
include ../../blocks/question/question
include ../../blocks/sentence/sentence
include ../../blocks/how-work/how-work
include ../../blocks/guarantees/guarantees
include ../../blocks/price/price
include ../../blocks/experts/experts
include ../../blocks/advantages/advantages
include ../../blocks/footer/footer
include ../../blocks/reviews/reviews
include ../../blocks/header/header
include ../../blocks/contacts/contacts
include ../../blocks/nav/nav