extends ../layout/_layoutBase.pug

block content

  +promo()
    +promo-form()
  +question()
  +sentence()
  +how-work()
  +advantages()
  +guarantees()
  +price()
  +experts()
  +reviews()
  +contacts()
    +contatcs-form()

  +modal()
    +contatcs-form()



