mixin sentence()
  +b.SECTION.sentence&attributes(attributes)
    +e.inner
      +e.row
        +e.title-block(style="background-image: url(../img/sentence-bg.jpg);")
          h2 Снимем с Вас головную боль по ведению бухгалтерского учета:
        +e.info
          ul
            +b.LI.item--loupe
              strong Боитесь налоговых банковских проверок?
              span Гарантируемположительное прохождение любой проверки со стороны налоговой и банков. За всю историю компанию все проверки прошли успешно.
            +b.LI.item--check
              strong Не уверены в правильности составления и сдачи отчетности?
              span Гарантируемположительное прохождение любой проверки со стороны налоговой и банков. За всю историю компанию все проверки прошли успешно.
            +b.LI.item--calendar
              strong Не хватает времени?
              span Освободим Вам уйму времени, что Вы могли заниматься продажами и развитием бизнеса. Хватит тратить время на составление и сбор документов!