mixin advantages()
  +b.SECTION.advantages(id="advantages")
    +e.inner
      h2 Ваши преимущества работы с нами
      ul
        li
          i
            img(src="img/adv-shield.svg", alt="")
          p Ваш бизнес в безопасности. Вы больше не боитесь звонка или требования из налоговой инспекци
        li
          i
            img(src="img/adv-letter.svg", alt="")
          p В случае банковской и налоговой проверки соберем все необходимые документы. Предоставим в контролирующий орган в должном виде. Без лишней суеты и паники
        li
          i
            img(src="img/adv-phone.svg", alt="")
          p Ваш бухгалтер всегда на связи. Он не болеет, не ходит вотпуск, не просит прибавки к зарплате
        li
          i
            img(src="img/adv-courier.svg", alt="")
          p Не нужно никуда ездить и отвозить документы. Это сделает для Вас наш курьер