mixin advantages()
  +b.SECTION.advantages&attributes(attributes)
    +e.inner
      h2 Ваши преимущества работы с нами
      ul
        li(class="adv-shield")
          p Ваш бизнес в безопасности. Вы больше не боитесь звонка или требования из налоговой инспекци
        li(class="adv-letter")
          p В случае банковской и налоговой проверки соберем все необходимые документы. Предоставим в контролирующий орган в должном виде. Без лишней суеты и паники
        li(class="adv-phone")
          p Ваш бухгалтер всегда на связи. Он не болеет, не ходит вотпуск, не просит прибавки к зарплате
        li(class="adv-courier")
          p Не нужно никуда ездить и отвозить документы. Это сделает для Вас наш курьер