mixin header()
  +b.HEADER.header&attributes(attributes)
    +e.inner
      +e.row
        +b.logo
          +e.A.link(href="#")
            +e.SPAN.slogan Ведение бухгалтерского учета в Санкт-Петербурге
            +e.IMG.img(src="../img/logo_apriori.png" alt="Априори логотип")
        block
        +b.phone
          +e.A.link(href="tel:89117777777") 8 911 777 77 77
          +e.SPAN.work-clock работаем с 9 до 18
        +b.DIV.burger
          span
